* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F6FAFB;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
}

.card {
  margin: 55px;
  background-color: white;
  border-radius: 20px;
  height: 50%;
  border: 1px solid transparent;
  text-align: center;
  line-height: 1.75;
}

.cup {
  width: 170px;
  margin-top: 10px;
}

.topics {
  margin-left: 4%;
}

h2 {
  color: #53585d;
  margin-right: 15px;
}

ul {
  text-align: start;
  display: inline-block;
  margin-top: 0;
}

ul li {
  color: #53585d;
  font-weight: bold;
  padding: 10px 20px 10px 10px ;
  letter-spacing: 1px;
}

.bottom_side {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #e2e6e8;
  margin-bottom: 10px;
}

#show{
  width: 100%;
}

.content {
  display: none;
}

.right_side {
  text-align: center;
  border-style: none;
  padding: 0 10px;
}

p {
  color: #79828b;  
  margin-top: 0px;
  letter-spacing: 1px;
}

.last_side {
  text-align: center;
  border-style: none;
  padding: 0 10px;
}

.button_position {
  display: flex;
  justify-content: center;
}

#informations { 
  background-color: #1bd59a;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: 25px;
  letter-spacing: 1px;
}

@media (min-width: 679px) and (max-width: 939px)  {
  .first_part {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 10%;
  }

  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  
  .bottom_side {
    margin-bottom: 0;
  }

  .right_side {
    text-align: center;
    width: 33.333%;
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color: #e2e6e8;
    padding: 0 10px;
  }

  .last_side {
    width: 33.333%;    
    padding: 0 10px;
  }
}

@media (min-width: 940px) {
  .first_part {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 10%;
  }

  .second_part {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  } 
   
  .bottom_side {
    margin-bottom: 0;
  }

  .right_side {
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color: #e2e6e8;
    padding: 0 10px;
  }

  .last_side {
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color: #e2e6e8;
    padding: 0 10px;
  }

  .button_position {
    width: 65%;
  }
}